#loginHolder{
    margin-top: 3%;
    width: 100%;
    height: 100%;
    padding-left: 39%;
    padding-right: 20%;
    padding-bottom: 10%;
}

#doubleDivDeathBarrage{
    height: fit-content;
    width: 70%;
    background-color: whitesmoke;
    border: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 40px;
    border-radius: 30px;
}

#siglogbutton{
    margin-bottom: 7%;
}

#anus{
    margin-bottom: 5%;
}
